* {
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    background-color: black;
    color: white;
    padding:0;
    animation-name: inicioanimação;
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

#espaço {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 13vh;
    margin-right: 13vh;
    height: 600px;
}

.apresentação {
   height: 600px;
   width: 60%;
   border: 5px solid red;
   animation: inicioanimação;
   animation-duration: 1.4s;
   animation-delay: 1500ms;
}

#imagem {
    height: 600px;
    border: 5px solid red;
    animation: inicioanimação;
    animation-duration: 1.4s;
    animation-delay: 2000ms;
}

p {
    margin-top: 30px;
    font-size: 30px;
}

h1 {
    padding-top: 10px;
    font-size: 40px;
}

#links {
    font-size: 30px;
    margin-top: 50px;
}

#a1 {
    margin-right: 10vh;
    padding: 10px;
    background-color: #555;
    border-radius: 30px;
    transition: background-color 700ms, padding 700ms, border-radius 700ms, font-size 700ms;
}

#a2 {
    margin-left: 10vh;
    padding: 10px;
    background-color: #555;
    border-radius: 30px;
    transition: background-color 700ms, padding 700ms, border-radius 700ms, font-size 700ms;
}

#a1:hover,
#a2:hover {
    cursor: pointer;
    padding: 20px;
    border-radius: 50px;
    font-size: 36px;
    background-color: #333;
    transition: 700ms;
}

@keyframes inicioanimação {
    0% {opacity: 0%;margin-left: 100px;}
    50% {opacity: 0%;margin-left: 50px;}
    100% {opacity: 100%;margin-left: 0px;}
}